body {
  margin-top: 50px;
  margin-bottom: 80px;
  background-color: #fcfcfc;
}

html {
  position: relative;
  min-height: 100%;
}

.flag {
  height: 35px;
}

.comment-points {
  float: right;
}

.imgpost {
  max-width: 400px;
  max-height: 600px;
  border: 1px solid #999;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 80px;
  width: 100%;
}

.centered {
  text-align: center;
}

.thumb {
  border: 1px solid #999;
}

.paginatelinks {
  text-align: center;
}

.panel-body {
  word-wrap: break-word;
}

.well {
  word-wrap: break-word;
}

.controls #description {
  height: 10em;
  width: 100%;
}

.controls #comment {
  height: 4em;
  width: 100%;
}

.controls #title {
  width: 100%;
}

.fileinput {
  text-align: center;
}

.fileinput-preview {
  max-width: 300px;
}

#charnum {
  text-align: right;
}

.wysiwyg-color-blue {
  color: blue;
}

.wysiwyg-color-red {
  color: red;
}

.wysiwyg-color-green {
  color: green;
}

.ui-tabs { 
    background: transparent; 
    border: none; 
} 
.ui-widget-header { 
    background: transparent; 
    border: none; 
    border-bottom: 1px solid #c0c0c0; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 
.ui-tabs-nav .ui-state-default { 
    background: transparent; 
    border: none; 
} 
.ui-tabs-nav .ui-state-active { 
    background: #333; 
    border: none; 
} 
.ui-tabs-nav .ui-state-default a { 
    color: #333; 
} 
.ui-tabs-nav .ui-state-active a { 
    color: #fff; 
}

@media(max-width:767px) {
  .imgpost {
    max-width: 100%;
  }
}

